$theme : ("background": #393E41,
  "text-color": #F6F7EB,
  "eco-green": #44BBA4,
  "sky-blue": #3F88C5,
  "error-red": #E94F37,
  "success-green": #80D39B,
  "yellow-submarine": #F9C80E);

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

html {
  overflow: scroll;
}

.nav-color {
  width: 100%;
  display: block;
}

a.btn.btn-secondary {
  background-color: map-get($theme, 'sky-blue');
  border: none;
  border-radius: 0;

  &:focus {
    background-color: map-get($theme, 'yellow-submarine') !important;
    width: 175px;
    height: 65px;
    box-shadow: 0 -1px 0 #ddd !important;
  }

  width: 175px;
  height: 65px;
  font-size: 35px;
  @include transition(background-color .3s);

  &:hover {
    background-color: map-get($theme, 'eco-green');
  }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
  background-color: map-get($theme, 'yellow-submarine') !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}

a.nav-link {
  color: map-get($theme, 'text-color') !important;
  cursor: pointer;
  height: 40px !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: map-get($theme, 'yellow-submarine') !important;
}

.nav-tabs .nav-link {
  border: 0px !important;
  border-radius: 0 !important;
  @include transition(background-color .3s);

  &:hover {
    background-color: map-get($theme, 'eco-green');
  }

  &:focus {
    background-color: map-get($theme, 'yellow-submarine') !important;
  }
}

a.btn {
  background-color: #44BBA4 !important;
  @include transition(background-color .3s);

  &:hover {
    background-color: map-get($theme, 'error-red') !important;
  }
}

.tab-close {
  display: inline;
  color: map-get($theme, 'error-red');
}

.tab-add {
  color: map-get($theme, 'text-color') !important;
  display: inline-block;
}

th {
  text-align: center !important;
  font-size: 1rem !important;
}

td {
  text-align: center !important;
}

.td-bigger-text {
  font-size: 1.4rem !important;
}

.table th, .table td {
  padding: 0.15rem !important;
}

.tab-name {
  display: inline;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.popover {
  background-color: map-get($theme, 'background') !important;
  color: map-get($theme, 'text-theme') !important;
}

.popover-header {
  background-color: map-get($theme, 'background') !important;
  color: map-get($theme, 'text-theme') !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.btn {
  border: none !important;
  border-radius: 0 !important;
}

.btn.btn-primary.btn-block {
  background-color: map-get($theme, 'sky-blue') !important;

  @include transition(background-color 0.3s);

  &:hover {
    background-color: map-get($theme, 'error-red') !important;
  }
}

.btn-warning {
  background-color: map-get($theme, 'yellow-submarine') !important;
  @include transition(background-color 0.3s);

  &:hover {
    background-color: map-get($theme, 'error-red') !important;
  }
}

.btn-danger {
  background-color: map-get($theme, 'error-red') !important;
}

.btn-success {
  background-color: map-get($theme, 'success-green') !important;
}

.btn-secondary {
  background: none !important;
  @include transition(background-color 0.3s);

  &:hover {
    background-color: map-get($theme, 'sky-blue') !important;
  }
}

.btngroup-minimized {
  height: 38px !important;
}

.form-control {
  border: none !important;
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.margin-zero-auto {
  margin: 0 auto !important;
}

//menu-element
.menu-element {
  color: map-get($theme, "eco-green");
}

.table-responsive {
  overflow: auto;
}

thead tr:nth-child(1) th {
  background: map-get($theme, "eco-green");
  position: sticky;
  top: 0;
  z-index: 10;
}

.modal-header {
  background-color: map-get($theme, "background");
  color: map-get($theme, "text-color");
}

.modal-body {
  background-color: map-get($theme, "background");
  color: map-get($theme, "text-color");
}

.modal-footer {
  background-color: map-get($theme, "background");
}

$body-bg: map-get($theme, "background");
$body-color: map-get($theme, "text-color");


.rdt {
  position: relative;
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: map-get($theme, "background");
  ;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid map-get($theme, "dunno-yet0");
  ;
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}

.rdtPicker td {
  cursor: pointer;
}

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: map-get($theme, "error-red");
  ;
  cursor: pointer;
}

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}

.rdtPicker td.rdtToday {
  position: relative;
}

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: map-get($theme, "eco-green");
  color: map-get($theme, "error-red");
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: map-get($theme, "error-red");
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: map-get($theme, "error-red");
}

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: map-get($theme, "error-red");
  cursor: not-allowed;
}

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}

.table thead th {
  vertical-align: top !important;
}

.bigger-text {
  font-size: 1.25rem !important;
}

.status-bigger-text {
  padding-top: 2rem !important;
}

.status-element {
  font-size: 1.4rem !important;
  padding-top: 1rem!important;
}

.margin-1 {
  margin: 1rem !important;
}

.rdtPicker th.rdtSwitch {
  width: 100px;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: map-get($theme, "error-red");
  cursor: not-allowed;
}

.rdtPicker thead tr:first-child th {
  cursor: pointer;
}

.rdtPicker thead tr:first-child th:hover {
  background: map-get($theme, "error-red");
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}

.rdtPicker button:hover {
  background-color: map-get($theme, "eco-green");
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

td.rdtMonth:hover,
td.rdtYear:hover {
  background: map-get($theme, "eco-green");
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters>div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounter .rdtBtn:hover {
  background: map-get($theme, "error-red");
}

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .row {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .row {
    max-width: 970px;
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";